{% extends "base.html "%}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css'%}">
{% endblock %}
{% block title %}Blog Details {{ id }}{% endblock %}
{% block content %}




    <div class="container mt-3">
        <div class="row">
            <div class="col-3">menü
                {% include 'partials/categories.html' %}
            </div>
            <div class="col-9">
                <h1>Blog Details: {{ id }}</h1>
                <hr>
                
            </div>
        </div>
    </div>
{% endblock %}