{% extends "base.html "%}

{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css'%}">
{% endblock %}
{% block title %}Blog Details {{ id }}{% endblock %}
{% block content %}




    <div class="container mt-3">
        <div class="row">
            <div class="col-3">menü
                {% include 'partials/categories.html' %}
            </div>
            <div class="col-9">
                
 <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{% static 'img/'|add:blog.image %}" alt="" class="img-fluid" >
                        </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        
                                            {{ blog.title}}
                                        
                                    </h5>
                                    <p class="card-text">{{ blog.description }}</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>

                    </div>
                </div>
                <hr>
                
            </div>
        </div>
    </div>
{% endblock %}